{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<!--<head>
    <style>
        body {
            animation: fadeInAnimation ease 3s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }
        @keyframes fadeInAnimation {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    </style>
</head>-->
<br><br><br>
<h3 style="text-align: center;">
    <p>ROU:</p>
    <p>Aplicatia noastră prezice un scor viitor, în baza rezultatelor obținute anterior de către echipa dorită.</p> 
    <p>De asemenea, puteti vizualiza pe hartă cele mai cunoscute stadioane din Europa.</p>
    <p>Acestea pot fi accesate din pagina <i>Main App</i>.</p>
    <p>Codul sursă poate fi găsit pe <i>Github</i>.</p>
    <p>Pentru orice întrebări nu ezitați în a ne contacta folosind adresele de email din pagina <i>About</i>.</p>
    <br><br><br>
    <p>ENG:</p>
    <p>Our application predicts a future score, based on the results previously obtained by the desired team.</p>
    <p>You can also see on the map the most famous stadiums in Europe.</p>
    <p>These can be accessed from the Main App page.</p>
    <p>The source code can be found on Github.</p>
    <p>For any questions do not hesitate to contact us using the email addresses on the About page.</p>
</h3>
<br><br>
<footer>&copy; Facultatea de Automatică și Calculatoare/Faculty of Automatic Control and Computer Engineering Iași 2021</footer>
{% endblock %}